<script src="{{ site.baseurl }}/node_modules/reveal.js/dist/reveal.js"></script>
<script src="{{ site.baseurl }}/node_modules/reveal.js/dist/plugin/markdown.js"></script>
<script src="{{ site.baseurl }}/node_modules/reveal.js/dist/plugin/highlight.js"></script>
<script src="{{ site.baseurl }}/node_modules/reveal.js/dist/plugin/notes.js"></script>

		<script>
			// More info about config & plugins:
			// - https://revealjs.com/config/
			// - https://revealjs.com/plugins/
			Reveal.initialize({
				hash: true,
				plugins: [ RevealMarkdown, RevealHighlight, RevealNotes ]
			});
		</script>
